h1 {
color: black;
text-indent: inherit;
background-color: white;
height: auto;
width: auto;
}

h2 {
color: black;
text-indent: inherit;
background-color: white;
height: auto;
width: auto;
}

h3 {
color: black;
text-indent: inherit;
background-color: white;
height: auto;
width: auto;
}

p {
  color: black;
  background-color: white;
  height: auto;
  width: auto;
}
