h1 {
color: black;
text-indent: inherit;
background-color: white;
height: auto;
width: auto;
}

h2 {
color: black;
text-indent: inherit;
background-color: white;
height: auto;
width: auto;
}

p {
  color: black;
  background-color: white;
  height: 200px;
  width: 300px;
}
